<footer class="bg-dark text-light pt-5">
  <div class="container mb-4 pb-4 border-bottom">
    <div class="row align-items-center">
      <!-- Left Side (Logo + Brand) -->
      <div class="col-md-6 mb-3 mb-md-0 text-center text-md-start">
        <a class="navbar-brand text-light fs-4 fw-bold" href="/">
          <i class="fa-solid fa-compass me-2"></i>WanderHub
        </a>
      </div>

      <!-- Right Side (Newsletter) -->
      <div class="col-md-6">
        <form class="d-flex justify-content-center justify-content-md-end">
          <input
            type="email"
            class="form-control me-2"
            placeholder="Enter your email"
          />
          <button class="btn btn-primary" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-start" style="padding-bottom: 50px;">
    <div class="row text-center text-md-start">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-white mb-4 fw-bold">WanderHub</h5>
        <p>
          Explore the world with our community of adventurers. Find your next destination,
          share stories, and connect with travelers just like you.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase text-white mb-4 fw-bold">Quick Links</h5>
        <p><a href="#" class="ft-hv-effect">Destinations</a></p>
        <p><a href="#" class="ft-hv-effect">Blog</a></p>
        <p><a href="#" class="ft-hv-effect">About Us</a></p>
        <p><a href="#" class="ft-hv-effect">FAQs</a></p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase text-white mb-4 fw-bold">Community</h5>
        <p><a href="#" class="ft-hv-effect">Join the Club</a></p>
        <p><a href="#" class="ft-hv-effect">Share Your Story</a></p>
        <p><a href="#" class="ft-hv-effect">Partners</a></p>
        <p><a href="#" class="ft-hv-effect">Sitemap</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase text-white mb-4 fw-bold">Contact & Legal</h5>
        <p>
          <i class="fas fa-envelope me-2"></i>
          <a href="mailto:info@wanderhub.in" class="text-light text-decoration-none">info@wanderhub.in</a>
        </p>
        <p><a href="#" class="ft-hv-effect">Privacy Policy</a></p>
        <p><a href="#" class="ft-hv-effect">Terms of Service</a></p>
        <p><a href="#" class="ft-hv-effect">Support</a></p>
      </div>
    </div>
  </div>

  <!-- Bottom Bar -->
  <!-- <div class="container-fluid border-top mt-4 py-3">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center">
      <div class="mb-2 mb-md-0">
        <a href="#" class="text-light me-3"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="text-light me-3"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="text-light me-3"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" class="text-light me-3"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" class="text-light"><i class="fa-solid fa-envelope"></i></a>
      </div>

      <div class="text-light small">
        &copy; WanderHub Private Limited 2025–26
      </div>
    </div>
  </div>-->
</footer> 



  <div class="f-info d-flex container-fluid pb-4 bg-dark border-top border-bottom">
    <div class="f-info-socials">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-x-twitter"></i></a>
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
      <a href=""><i class="fa-solid fa-envelope"></i></a>
    </div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      <a href="#">Terms & Conditions</a>
    </div>
    <div class="f-info-brand">&copy; WanderHub Private Limited 2025-26</div>
  </div>

