<footer class="ft-main">
   <div class="container mb-4 pb-4 border-bottom">
    <div class="row align-items-center">
      <!-- Left Side (Logo + Brand) -->
      <div class="col-md-6 mb-3 mb-md-0">
        <a class="navbar-brand text-light fs-4 fw-bold" href="/">
          <i class="fa-solid fa-compass me-2"></i>WanderHub
        </a>
      </div>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-solid fa-envelope"></i></a>

      <!-- Right Side (Newsletter) -->
      <div class="col-md-6">
        <form class="d-flex justify-content-md-end">
          <input
            type="email"
            class="form-control me-2"
            placeholder="Enter your email"
          />
          <button class="btn btn-primary" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container text-center text-md-start">
      <div class="row text-center text-md-start">

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-white mb-4 fw-bold flex-grow-1">WanderHub</h5>
          <p class="text-white">
            Explore the world with our community of fellow adventurers.
            Find your next destination, share your stories, and connect with
            travelers just like you.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3  ">
          <h5 class="text-uppercase text-white mb-4 fw-bold flex-grow-1">Quick Links</h5>
          <p><a href="#" class="ft-hv-effect">Destinations</a></p>
          <p><a href="#" class="ft-hv-effect">Blog</a></p>
          <p><a href="#" class="ft-hv-effect">About Us</a></p>
          <p><a href="#" class="ft-hv-effect">FAQs</a></p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase text-white mb-4 fw-bold flex-grow-1">Community</h5>
          <p><a href="#" class="ft-hv-effect">Join the Club</a></p>
          <p><a href="#" class="ft-hv-effect">Share Your Story</a></p>
          <p><a href="#" class="ft-hv-effect">Partners</a></p>
          <p><a href="#" class="ft-hv-effect">Sitemap</a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase text-white mb-4 fw-bold flex-grow-1">Contact & Legal</h5>
          <p>
            <i class="fas fa-envelope me-3 ft-mail"></i> <a href="mailto:info@wanderhub.in" class="hv-underline">info@wanderhub.in</a>
          </p>
          <p><a href="#" class="ft-hv-effect">Privacy Policy</a></p>
          <p><a href="#" class="ft-hv-effect">Terms of Service</a></p>
          <p><a href="#" class="ft-hv-effect">Support</a></p>
        </div>
      </div>
</footer>


  <div class="f-info d-flex container-fluid pb-4 border-bottom">
    <div class="f-info-socials">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-x-twitter"></i></a>
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
      <a href=""><i class="fa-solid fa-envelope"></i></a>
    </div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      <a href="#">Terms & Conditions</a>
      <!-- <a href="#">Your Ads Privacy Choice</a> -->
    </div>
    <div class="f-info-brand">&copy; WanderHub Private Limited 2025-26</div>
  </div>

