<% layout("/layouts/boilerplate.ejs") %>


    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3 class="new-listing">Create a new listing</h3>
            <br> <br>
            <form action="/listings" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="listing[description]" placeholder="Enter description" class="form-control"
                        required>
                        <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image link </label>
                    <input type="text" name="listing[image]" placeholder="Enter image URL/Link" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control"
                            required>
                            <div class="invalid-feedback">
                            Please provide a valid country.
                        </div>
                    </div>

                </div>


                <div class="mb-4">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control"
                        required>
                        <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>



                <button class="btn btn-primary">Add</button>
            </form>
            <br><br>

        </div>
    </div>